html, body {
  margin: 0;
  padding: 0;
}

.screen {
  width: 100%;
  padding: 0;           /* без отступов */
  margin: 0;
}

.screen img {
  width: 100%;
  height: auto;         /* Ключ: картинка масштабируется правильно */
  display: block;
}
