body{
    margin: 0px;
}
.img-responsive {
  width: 100%;      /* картинка растягивается на ширину экрана */
  height: auto;     /* пропорции сохраняются */
  display: block;   /* убирает лишние отступы */
}
.img-cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
